.header {
  z-index: 5;
  padding: var(--mantine-spacing-md);
  width: 100%;
  height: 80px;
  margin-bottom: -80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.left_section {
  @media (max-width: $mantine-breakpoint-md) {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
  }
}

.center_section {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.right_section {

}

.nav_button {
  font-weight: 400;
  text-shadow: 0 0 10px #000;
  /* color: var(--font-color); */
}

.selected {
  font-weight: 700;
}