.header {
  padding: var(--mantine-spacing-md);
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.left_section {
  /* position: absolute; */
  /* top: var(--mantine-spacing-md);
  left: var(--mantine-spacing-md); */
}

.center_section {
  /* position: absolute; */
  /* top: var(--mantine-spacing-md); */
  /* left: 50%;
  transform: translateX(-50%); */
}

.right_section {
  /* position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md); */
}